name: OIDC Identity Test

on:
  push:
    branches: [ "main" ]

permissions:
  id-token: write
  contents: read

jobs:
  aws-identity:
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS credentials via OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::711210709046:oidc-provider/token.actions.githubusercontent.com

          aws-region: ap-south-1

      - name: Verify identity
        run: aws sts get-caller-identity
